<!-- Head html -->
<div th:replace="frags/frags :: headFragment"></div>

<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center my-5">Tabella Contatti</h2>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contatto : ${contatti}">
                            <th scope="row" th:text="${contatto.id}"></th>
                            <td th:text="${contatto.nome}"></td>
                            <td th:text="${contatto.email}"></td>
                            <td th:text="${contatto.messaggio}" class="text-break" style="max-width: 100px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>